* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Mejora la consistencia del modelo de caja */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.circulo {
    width: 30%;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(482deg,#8A9B6E 50%, #354733 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
    background-image: url(images/karlo.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: #E4CFB4;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
.presentation{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(482deg,#354733 50%, #8A9B6E 50%);
}

.bloque-imagen-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 30vw;
}

.web{
    color: #577454;
    font-size: 500%;
}
.developer{
    font-size: 500%;
    color: #6C7957;
}

.contactos{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9%;
}
.contacto{
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    transition: width 0.3s, height 0.3s;
    margin-inline: 8px;
}
.contacto a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto a svg{
    width: 70%;
    height: 70%;
    fill: #354733;
}
.contacto:hover{
    width: 70px;
    height: 70px;
    background-color: #354733;
}
.contacto:hover a svg{
    fill: #ffffff;
}
.detalles{
    width: 92%;
    height: 55vh;
    display: flex;
    margin-top: 30px;
    justify-content:space-between;
    align-items: center;
}
.sobre-mi{
    height: 100%;
    width: 48%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #E4CFB4;
    border-radius: 16px;
    background-color: #9F876B;
    border-right: 2px solid #6F665A;
    border-bottom: 2px solid #6F665A;
}
.sobre-mi p{
    text-align: left;
    font-size: 140%;
    margin-top: 20px;
}
.sobre-mi h1{
    font-weight: bolder;
    color: #E4CFB4;
    border-bottom: 4px solid #E4CFB4;
    text-align: left;
}
.tecnologias{
    margin-top: 20px;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
}
.tech{
    width: 70px;
    height: 70px;
    background-color: #E4CFB4;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech svg{
    fill: #6F665A;
    width: 58%;
    height: 58%;
}
fieldset{
    border-width: 1px;
    border-style: solid;
    border-left-width: 0; 
    border-right-width: 0;
    border-bottom-width: 0;
    border-color: #E4CFB4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
fieldset .tech{
    margin-top: 10px;
}
fieldset .tech svg{
    fill: #6F665A;
    width: 58%;
    height: 58%;
}

.mis_proyectos{
    width: 92%;
    height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9F876B;
    border-radius: 16px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-right: 2px solid #6F665A;
    border-bottom: 2px solid #6F665A;
}

.mis_proyectos h1{
    margin-top: 20px;
    color: #E4CFB4;
    border-bottom: 4px solid #E4CFB4;
}

.proyectos{
    width: 96%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:30px;
    padding: 50px;
    padding-top: 25px;
}

.proyecto{
    max-width: 100%;
    max-height: 100%;
    background-color: #E4CFB4;
    border-radius: 10px;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
    border: 4px solid #E4CFB4;
}
div.proyecto:nth-of-type(1) {
    background-image: url(images/Sistema_Estadisticas.jpeg);
    background-size: cover;
}
.superpuesto{
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    height: 100%;
}

.proyecto:hover .superpuesto{
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.5);
    backdrop-filter: blur(0.4rem);
}
.working{
    width: 95%;
    height: 95%;
    border: 4px dotted #9F876B;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9F876B;
}
.links{
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.links a{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-inline: 0.5vw;
    font-weight: 600;
    display: flex;
    transition: all 0.3s ease;
}
.links a svg{
    margin-inline: 3px;
}
.links a:hover{
    padding: 14px;
}
.demo{
    background-color:#E4CFB4 ;
    color: #9F876B;
}
.codigo{
    background-color: #9F876B;
    color: #E4CFB4;
}
.proyecto:hover .links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.herramientas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.titulo_proyecto{
    color: #E4CFB4;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 5%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.herramientas div{
    border: 2px solid #E4CFB4;
    color: #E4CFB4;
    font-weight:700;
    font-size: small;
    margin-inline: 2px;
    border-radius: 16px;
    padding: 5px;
}
.proyecto:hover .herramientas{
    opacity: 1;
}
.proyecto:hover .titulo_proyecto{
    opacity: 1;
}


.contactame{
    width: 100%;
    height: 70vh;
    background-color: #354733;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contac_tame{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.contac_tame h1{
    font-size: 250%;
}
.h1{
    margin-bottom: 30px;
}
l{
    color: #577453;
    margin-left: 10px;
}
.contac_tame p{
    font-size: 120%;
    margin-bottom: 10px;
}
.contac_tame:first-child{
    color: white;
}
.cont_logos{
    margin-top: 30px;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
}
.cont_logos a{
    height: 100%;
    width: 20%;
    transition: width 0.2s, height 0.2s, fill 0.2s;
}
.cont_logos a svg{
    height: 100%;
    width: 100%;
}
.cont_logos a:hover{
    height: 108%;
    width: 28%;
}
.cont_logos a:hover svg{
    fill: #8A9B6E;
}
.formulario{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario div{
    width: 65%;
    height: 100%;
    background-color: #8A9B6E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.formulario div form{
    width: 80%;
    height: 90%;
}
.input{
    width: 100%;
    height: 11%;
    background-color: #587454;
    border-radius: 7px;
    border-top: 2px solid #495c47;
    border-right: 2px solid #495c47;
    border-left: 2px solid #495c47;
    border-bottom: 2px solid #495c47;
    color: white;
}

label{
    color: #354733;
    font-weight: 900;
}

.my-button {
    padding: 10px 20px;
    background-color: #587454;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-color: black;
    font-weight: bolder;
  }
  .my-button:hover {
    background-color: #45a049;
  }
  .my-button:active {
    background-color: #3e8e41;
  }
.nav{
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2d3d2d90;
    border-bottom: 2px solid #5d694b;
    backdrop-filter: blur(0.4rem);
    z-index: 1;
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-inline: 20px;
    font-size: 115%;
    height: 50%;
    transition: color 0.3s;
}

.nav-link:hover{
    color: #86af81;
}

.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    background-color:#35473390;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    backdrop-filter: blur(0.4rem);
}

.overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a{
    font-size:large;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    color: #eceff1;
    height: 10%;
}

.overlay .close{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 65px;
    cursor: pointer;
}
.overlay .close:hover{
    color: #bdbdbd;
}

.curria{
    text-decoration: none;
    color: white;
    margin-inline: 20px;
    font-size: 115%;
    height: 50%;
}

.curri{
    margin-right: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.curria:hover .curri{
    background-color: #fff;
    color: #354733;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: #8A9B6E;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    width: 80px;
    height: 100%;
    margin-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a svg{
    fill: #354733;
    height: 100%;
    width: 40%;
    transition: fill 0.3s;
}

footer a:hover svg {
    fill:#587555 ;
}
.menu{
    display: none;
    cursor: pointer;
    width: 50px;
    height: 40px;
}
.menu svg{
    width: 100%;
    height: 100%;
}
span{
    color: #8A9B6E;
}
@media screen and (max-height:450px){
    .overlay a{
        font-size: 20px;
    }
    .overlay close{
        font-size: 40px;
        top:15px;
        right: 35px;
    }
}
@media screen and (max-width:800px){
    .nav-link, .curria{
        display: none;
    }
    .menu{
        display: block;
    }
    .karlo {
        width: 220px;
        height: 220px;
        margin-right: 24px;
    }
    .web{
        opacity: 0;;
    }
    .developer{
        opacity: 0;
    }
    .detalles{
        width: 100%;
        height: 500px;
        flex-direction: column;
    }
    .sobre-mi {
        height: 235px;
        width: 80%;
        margin-bottom: 30px;
        border-bottom: 2px solid #6F665A;
        border-right: 2px solid #6F665A;
    }
    .responsive-techs{
        display: flex;
    }
    .tech{
        width: 56px;
        height: 56px;
    }
    .tech svg{
        width: 58%;
        height: 58%;
    }
    fieldset{
        margin-top: 11px;
    }
    fieldset .tech svg{
        width: 58%;
        height: 58%;
    }
}
@media screen and (max-width:730px){
    .karlo {
        width: 220px;
        height: 220px;
        margin-right: 16px;
    }
    .web{
        font-size: 300%;
    }
    .developer{
        font-size: 300%;
    }
}
@media screen and (max-width:610px){
    .karlo {
        width: 220px;
        height: 220px;
        margin-right: 13px;
    }
    .web{
        font-size: 200%;
    }
    .developer{
        font-size: 200%;
    }
}
@media screen and (max-width:550px){
    .karlo {
        width: 220px;
        height: 220px;
        margin-right: 10px;
    }
    .web{
        font-size: 150%;
    }
    .developer{
        font-size: 150%;
    }
}
@media screen and (max-width:355px){
    .karlo {
        width: 220px;
        height: 220px;
        margin-right: 2px;
    }
    .web{
        display: none;
    }
    .developer{
        display: none;
    }
}
@media screen and (max-width:811px){
    .sobre-mi p {
        font-size: 140%;
    }
}
@media screen and (max-width:454px){
    .sobre-mi p{
        font-size: 121%;
    }
}
@media screen and (max-width:538px){
    .tech{
        width: 45px;
        height: 45px;
    }
    .tech svg{
        width: 58%;
        height: 58%;
    }
    fieldset .tech svg{
        width: 58%;
        height: 58%;
    }
}
@media screen and (max-width:440px){
    .tech{
        width: 38px;
        height: 38px;
    }
    .tech svg{
        width: 58%;
        height: 58%;
    }
    fieldset .tech svg{
        width: 58%;
        height: 58%;
    }
}
@media screen and (max-width:380px){
    .tech{
        width: 32px;
        height: 32px;
    }
    .tech svg{
        width: 58%;
        height: 58%;
    }
    fieldset .tech svg{
        width: 58%;
        height: 58%;
    }
}

@media screen and (max-width:373px){
    .sobre-mi p{
        font-size: 110%;
    }
}

@media screen and (max-width:301px){
    .sobre-mi p{
        font-size: 103%;
    }
    .tech{
        width: 31%;
        height: 12vw;
    }
    .tech svg{
        height: 7.5vw;
    }
    fieldset {
        margin-top: 30px;
    }
    fieldset .tech{
        width: 15.5%;
    }
    fieldset .tech svg{
        height: 7.5vw;
    }
}

#laravel{
    transition: all 0.3s ease 0s;
}

#laravel_t{
    position: absolute;
    color: #6f665a;
    opacity: 0;
    cursor: default;
    font-size: 81%;
}

#proyectos:hover #laravel{
    opacity: 0;
}
#proyectos:hover #laravel_t{
    opacity: 1;
}

@media screen and (max-width:900px){
    .proyectos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        width: 100%;
    }
    .mis_proyectos{
        height: 150vh;
    }
}
@media screen and (max-width:390px){
    .links{
        flex-direction: column;
    }
    .links a{
        margin-inline: 0;
        margin-bottom: 8px;
    }
}
@media screen and (max-width:360px){
    .links{
        flex-direction: column;
    }
    .links a{
        margin-inline: 0;
        margin-bottom: 8px;
    }
    .herramientas div{
        font-size: 7px;
    }
}
@media screen and (max-width:1023px){
    .contactame{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 800px;
    }
    .contac_tame{
        position: absolute;
        width: 100%;
        height: 630px;
    }
    .contac_tame p{
        margin-bottom: 0;
    }
    .todo{
        width: 100%;
        height: 105%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .cont_logos{
        margin-top: 0;
        height: 7vh;
    }
    .formulario{
        width: 550px;
        height: 430px;
        padding: 0;
    }
    .todo h1{
        margin-top: 23px;
    }
    .linksf{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    l{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:589px){
    .sobre-mi p {
        font-size: 106%;
    }
}
@media screen and (max-width:650px){
    .sobre-mi p {
        font-size: 126%;
    }
}
@media screen and (max-width:514px){
    .sobre-mi p {
        font-size: 95%;
    }
}
@media screen and (max-width:379px){
    .sobre-mi p {
        font-size: 85%;
    }
}
@media screen and (max-width:500px){
    .formulario {
        width: 300px;
    }
    .formulario div{
        width: 100%;
    }
}
@media screen and (max-width:335px){
    .titulo_proyecto{
        font-weight: 100;
    }
}
@media screen and (max-width:308px){
    .titulo_proyecto{
        font-size: smaller;
    }
}
@media screen and (max-width:564px){
    .todo h1{
        margin-top: 8px;
    }
}
@media screen and (max-width:320px){
    .formulario{
        width: 230px;
    }
}
@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}
@media screen and (min-height:603px){
    .karlo{
        height: 33vh;
        width: 33vh;
    }
}
@media screen and (max-width:1084px){
    .circulo{
        width: 300px;
        height: 300px;
    }
}
.sobre-mi p{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.tech{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.proyecto{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
